@import "general.css";
@import "snowflakes.css";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: var(--text-color);
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.text-wrapper {
    max-width: 800px;
    margin-top: 30px;
    font-size: 20px;
}

.button-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
}
