@import "general.css";
@import "snowflakes.css";

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
    /* Merry Christmas */
    box-shadow: 0 0 20px rgb(168, 45, 50);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

.button-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
}
