@import "general.css";
@import "snowflakes.css";

@font-face {
    font-family: "PixelFont";
    src: url("../assets/fonts/Minecraft.ttf") format("truetype");
}

.content {
    position: relative;
    z-index: 1;
}

#main-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    object-fit: none;
}

#theme-toggle-button {
    background: none;
    border: none;
    padding: 0;
}

.theme-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.links h1 {
    font-size: 50px;
    margin: 70px;
    flex: 1;
    white-space: nowrap;
}

.links a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}
